<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- File target for errors and above -->
    <target xsi:type="File" 
            name="errorFile"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            archiveFileName="${basedir}/logs/archived/errors-{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
    
    <!-- File target for all logs -->
    <target xsi:type="File" 
            name="allFile"
            fileName="${basedir}/logs/all-${shortdate}.log"
            archiveFileName="${basedir}/logs/archived/all-{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="3"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />
    
    <!-- Console target for development -->
    <target xsi:type="Console" 
            name="console"
            layout="${time} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Log all errors and above to error file -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    
    <!-- Log everything to all file -->
    <logger name="*" minlevel="Info" writeTo="allFile" />
    
    <!-- Log to console for development -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>